{% extends 'base.html.twig' %}

{% block body %}
    <h1>ListHub API</h1>
    <div style="white-space:pre">
        <code>GET /api/listnodes</code><br>
        <code>GET /api/listnodes/{id}</code><br>
        <code>GET /api/listnodes/{id}/children</code><br>
        <code>POST /api/listnodes</code><br>
        <code>PUT/PATCH /api/listnodes/{id}</code><br>
        <code>DELETE /api/listnodes/{id}</code><br>
        <code>POST /api/listnodes/{id}/share</code><br>
    </div>
{% endblock %}
