{% extends 'base.html.twig' %}

{% block title %}Listáim{% endblock %}

{% block body %}
    <h1>Listáim</h1>

    {% if lists is empty %}
        <p>Még nincs egy listád sem.</p>
    {% else %}
        <ul>
            {% for list in lists %}
                <li>
                    <a href="{{ path('app_list_show', {id: list.id}) }}">
                        {{ list.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
